html{color:#000;background:#FFF}
body{font:12px/1.5 "Microsoft YaHei",Arial,"\5b8b\4f53",georgia,verdana,helvetica,sans-serif;-webkit-font-smoothing:antialiased}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
a{text-decoration: none;}

/*头部*/
.head{
	width:1170px;
	height:60px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin:0 auto;
	
	}
/*中部*/
.content{
	width:1170px;
	height:2045px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin:10px auto;
	}
/*底部*/
.footer{
	width:1170px;
	height:100px;
	border-top:5px #CC0000 solid;
	margin:10px auto;
	padding-top: 20px;
	background:rgba(255,255,255,1);
	}
.footer ul{
    width: 1170px;
    height: 150px;

}
.footer a{
    padding: 0 5px;
}
.footer .top{
    line-height: 40px;
	text-align:center;
}
.footer .top a{
	border-right:1px solid;
	text-align:center;
    color: #666666;
}
	
.footer .ban{
    color: #666666;
    margin-top: 5px;
    text-align: center;
}
