body{background:#b8e7f7 url(../images/50.png)0 0 no-repeat;}
.content{
	background:rgba(255,255,255,0);
    height:1400px;}
.head ul li{
	width:120px;
	height:34px;
	font-size:18px;
	text-align:center;
	/*border:1px solid;*/
	margin-top:26px;
	box-sizing:border-box;
	float:right;
	background:#3cb0eb;
	
	}
.head ul span{
	width:200px;
	height:50px;
	color:rgba(255,255,255,1);
	font-size:28px;
	text-align:center;
	padding-top:10px;
	display:inline-block;
	/*border:1px solid;*/
	background:#3cb0eb;
	position:absolute;
	}
.head .img{
	width:50px;
	height:60px;
	/*border:1px solid;*/
	float:right;
	background:url(../images/42.png);
	position:relative;
	left:50px;
	top:-10px;}
.head ul li a{color:rgba(255,255,255,1);
      }
.head ul li:hover{background:#39f;}
/*----------------------------------*/
.content .top{
	width:1170px;
	height:356px;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .searchbox{
	width:325px;
	height:355px;
	float:left;
	/*border:1px solid;*/
	box-sizing:border-box;
	}
.content .searchbox .le_tab{
    background:rgba(255,255,255,1);
	width:323px;
	height:60px;
	overflow: hidden;
    background:url(../images/1.png) no-repeat;
	/*border:1px solid;*/
	box-sizing:border-box;
	}
.content .searchbox .le_tab>ul{
	margin-top:5px;
	}
.content .searchbox .le_tab>ul>li{
	background:rgba(255,255,255,0);
	float:left;
	width:160px;
	height:60px;
	font-size:24px;
	text-shadow: #f1f1f1 1px 1px;
	font-family: Microsoft Yahei;
	line-height:60px;
	overflow:hidden;
	font-weight:500;
	cursor: pointer;
    transition: .1s ease;
	text-align:center;
	}
.content .searchbox .le_tab>ul>li:nth-child(1){
	background:#fff;
}
.content .searchbox .le_tab>ul>li:nth-child(1)>a{
	color:#35b9ce;
	text-shadow: #f1f1f1 1px 1px;
}

.content .searchbox .le_tab>ul>li>a{
	color:#fff;
	text-shadow: #f1f1f1 1px 1px;}
.content .searchbox .searchbox_nal{
	width:323px;
	height:292px;
	background:#fff;
	float:left;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .searchbox_nal .v-item{
	height:35px;
	margin-top:15px;
	padding-left:25px;
	color:#333;}
.content .searchbox_nal .v-item label{
	float:left;
	display:block;
	width:70px;
	font-size:14px;
	color:#666;
	line-height:35px;
	text-align:left;}
.content .searchbox_nal .v-item .item-text{
	position:relative;
	float:left;
	width:180px;
	height:36px;
	overflow:hidden;
	
	}
.content .searchbox_nal .item-text input{
	width:170px;
	height:30px;
	line-height:30px;
	padding-left:5px;
	font-size:14px;

}
.content .searchbox_nal .item-text span{
	background:url(../images/44.png) no-repeat;
	width:20px;
    height:22px;
	position:absolute;
	display:block;
	background-position:0 0;
	top:6px;
	left:155px;}
.content .searchbox_nal .gclearfix{
	   
		width:323px;
		height:33px;
		/*border:1px solid;*/
		box-sizing:border-box;}
.content .searchbox_nal .gclearfix .rd-item{
	margin-right:25px; 
	float:left;
	width:49px;
	height:21px;
	padding: 10px 0 0 70px;}
.content .searchbox_nal .gclearfix .rd-item label{
	width:29px;
	height:21px;
	font-size:14px;
	font-weight:700;
	color:#666;
}
.content .searchbox_nal .rdb-item{
	margin-top:12px;
	width:323px;
	height:35px;
	box-sizing:border-box;
	padding-left:25px;}
.content .searchbox_nal .rdb-item label{
	float:left;
	display:block;
	width:70px;
	height:34px;
	font-size:14px;
	color:#666;
	line-height:35px;
	text-align:left;}
.content .searchbox_nal .rdb-item .g-cal{
	width:215px;
	height:36px;
	position:relative;
	overflow:hidden;}
.content .searchbox_nal .rdb-item .g-cal input{
	height:34px;
	width:179px;
	line-height:30px;
	box-sizing:border-box;
	padding-left:5px;
	font-size:14px;}
.content .searchbox_nal .rdb-item .g-cal .data{
	width:18px;
	height:20px;
    position:absolute;
	right:41px;
	top:7px;
	background:url(../images/44.png) no-repeat;
	background-position:0 -50px;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .searchbox_nal .rdb-item .g-cal span{
	color:#999;
	line-height:32px;
	font-size:14px;
	text-align:right;}
.content .searchbox_nal .v-bin{
	width:323px;
	height:35px;
	float:left;
	position:relative;
	margin-top:25px;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .searchbox_nal .v-bin span{
	width:160px;
	height:35px;
	float:left;
	padding-left:10px;
	padding-top:10px;
	font-size:16px;
	color:rgba(0,204,255,1);
	font-weight:700;
	/*border:1px solid;*/
	box-sizing:border-box;
}
.content .searchbox_nal .v-bin .btn{
	background:url(../images/44.png) no-repeat;
	background-position:-152px 1px;
	position:absolute;
	left:195px;
	top:0px;
	width:102px;
	height:35px;
	/*border:1px solid;*/
	box-sizing:border-box;
	float:right;}
/*----------------------------------*/
.content .slide-bd{
	width:830px;
	height:355px;
	float:right;
	/*border:1px solid;*/
	box-sizing:border-box;
	border-radius:15px;
	}
.content .slide-bd .banner .figure{
    width: 100%;
    height: 353px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.content .slide-bd .banner .figure>img{
    height: 100%;
    margin: 0 -100%;
}
.content .slide-bd .banner .figure>ol{
    width: 150px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 10px;
}
.content .slide-bd .banner .figure>ol>li{
    width: 8px;
    height: 8px;
    background:#FFF;
    float: left;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 1s;
}
.content .slide-bd .banner .figure>ol>li:hover{
    border: 2px solid rgb(255,51,0);
    background: transparent;
    transform: scale(1.2,1.2);
}
/*----------------------------------------*/
.hot{
	width:100%;
	height:1028px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin-top:10px;}
.hot-city{
	width:327px;
	height:1217px;
	/*border:1px solid;*/
	box-sizing:border-box;
	float:left;}
.city{
	width:327px;
	height:392px;
	/*border:1px solid;*/
	box-sizing:border-box;
	background:#fff;
}
.about-us{
	width:327px;
	height:294px;
	margin-top:10px;
	background:#fff;
	/*border:1px solid;*/
	box-sizing:border-box;
	}
.line{
	width:325px;
	height:11px;
	overflow:hidden;
	float:left;
	/*border:1px solid;*/
	background:url(../images/10.png) no-repeat;}
.about-us-pd{
	width:325px;
	height:278px;
	float:left;
	/*border:1px solid;*/
	background: #fff;
	box-sizing:border-box;}
.about-us-pd dl{
    width: 275px;
    overflow: hidden;
	/*border:1px solid;*/
	margin:20px auto;
}
.about-us-pd dl>dt{
	color: #de3c12;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
	padding-left: 20px;
	margin-top: 6px;
    background: url(../images/51.png) no-repeat 0 3px;
}
.about-us-pd dl>dt>dd{
	color: #666;
    font-size: 12px;
    height: 35px;
    line-height: 1.5;
	padding-left: 20px;
	}

.city-top{
	width:326px;
	height:64px;
	/*border:1px solid;*/
	box-sizing:border-box;
	overflow:hidden;
    position: relative;
	background:url(../images/1.png);
	}
.city-top>span{position: absolute;
    top: 15px;
    left: 25px;
    font-size: 24px;
    color: #fff;
    font-family: \5fae\8f6f\96c5\9ed1,\5b8b\4f53;
}

.city-bottom{
	width:280px;
	height:291px;
	margin-left:20px;
    margin-top: 17px;
	background:#fff;
	/*border:1px solid;*/
	box-sizing:border-box;
	}
.city-bottom li a{
	width:77px;
	height:77px;
	/*border:1px solid;*/
	float:left;
	margin:7px;
	box-sizing:border-box;
	text-align:center;
    text-decoration: none;
    cursor: pointer;
    transition: .1s ease;
	}
.city-bottom li a:hover{
	background:#35b9ce;
}
.citytext{
	width:75px;
	height:75px;
	/*border:1px solid;*/
	box-sizing:border-box;
	color: #248dc1;
	text-align:inherit;
    font-size: 24px;
    display: block;
    padding-top: 17px;
    font-family: \5fae\8f6f\96c5\9ed1,\5b8b\4f53;
	}
.citytext:hover{color:#fff;
}
.num{
	width:77px;
	height:77px;
	/*border:1px solid;*/
	box-sizing:border-box;
	color: #666;
    font-size: 12px;
    text-align: center;

}
/*----------------------------------------*/
.city-right{
	width:823px;
	height:1025px;
	/*border:1px solid;*/
	box-sizing:border-box;
	float:right;
	background:#fff;
	}
.city-right-top{
	width:822px;
	height:64px;
	/*border:1px solid;*/
	box-sizing:border-box;
	background:url(../images/1.png);
	}
.city-right-top>span{
	width:98px;
	height:50px;
	/*border:1px solid;*/
	box-sizing:border-box;
	background:url(../images/1.png);
	font: normal 24px/50px "Microsoft YaHei", SimSun;
    color: #fff;
	float:left;
	margin-left:20px;
	margin-top:8px;
	}
.city-right-top ul{
	width:495px;
	height:64px;
	/*border:1px solid;*/
	box-sizing:border-box;
	float:right;
    overflow: hidden;
}
.city-right-top ul>li{
	width:45px;
	height:64px;
	/*border:1px solid;*/
	box-sizing:border-box;
	float:left;
    
}
.city-right-top ul>li:hover{
	width:45px;
	height:64px;
    background:#fff;
    color: #00899f;
    font-weight: bold;
    
}
.city-right-top ul>li>a{
    color: #fff;;
    font-weight: bold;
	display: block;
    width: 45px;
    font-size: 14px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    
}
.city-right-top ul>li>a:hover{
    color: #00899f;
    font-weight: bold;
	display: block;
    width: 45px;
    font-size: 14px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    
}
.city-right-content{
	width:823px;
	height:430px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin-top:10px;
	}
.item{
	width:823px;
	height:207px;
	/*border:1px solid;*/
	box-sizing:border-box;
	}
.gclearfix{ 
	width:700px;
	height:209px;
	margin:auto;
	box-sizing:border-box; 
     padding-bottom: 15px;
    border-bottom: 1px dashed #aaa;
}
 .item h3 {
    font-size: 14px;
    color: #333;
    line-height: 40px;
    height: 40px;
}
.item dl{float:left;
    margin-right: 30px;
	margin-bottom:5px;
    width: 185px;
	/*border:1px solid;*/}
.item dt{
	font-size: 14px;
    color: #0c8ac9;
    font-weight: bold;
    line-height: 30px;
    height: 30px;}
.item dd{
	color: #ff6602;
	    font-size: 12px;}
.item dd>span{
	padding: 0 1px;
    color: #248dc1;}
.item dd>a{    font-size: 12px;
    color: #248dc1;}
/*----------------------------------------*/
.city-right-bottom{
	width:823px;
	height:504px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin-top:10px;
	}
.city-right-bottom h3{
	font-size: 14px;
    color: #333;
    line-height: 40px;
    height: 40px;
	font-weight: bold;
	padding-left:10px;
}
.city-right-bottom ul{
	width:800px;
	height:456px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin:auto;
}
.city-right-bottom ul>li{
	float: left;
    margin-right: 10px;
    overflow: hidden;
    margin-bottom: 7px;
    width: 189px;
    height: 220px;
	/*border:1px solid;*/
	box-sizing:border-box;
    text-align: left;
    position: relative;}
.city-right-bottom a{
    display: block;
    width: 185px;
    height: 216px;
    text-align: center;
    border: 1px solid #ddd;}
.city-right-bottom .pic{
	width: 170px;
    height: 120px;
    margin: 6px auto 0;
    overflow: hidden;
    background: #D7EBFF url(loadingimg.gif) no-repeat center center;
}
.city-right-bottom .sale{
	position: absolute;
    top: 10px;
    left: 0px;
    width: auto;
    padding-right: 10px;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px rgba(255,130,0,0.8) solid;
    border-left: 10px rgba(255,130,0,0.8) solid;
    border-bottom: 10px rgba(255,130,0,0.8) solid;
    text-align: left;
    color: #fff;
    font: bold 12px/20px arial,sans-serif;
    line-height: 0;
	}
.city-right-bottom .desc{
	width:172px;
	height:59px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin:auto;
	margin-top:5px;
	text-align: left;
    overflow: hidden;
}
.city-right-bottom .name{
	width: 100%;
    display: block;
    font-size: 14px;
    color: #333;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding-top: 12px;
    overflow: hidden;
}
.city-right-bottom .desc p{
	width: 100%;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
}
.city-right-bottom .price{
    font: bold 18px 微软雅黑, 宋体;
    color: #e83c0b;
}







