/*头部*/
body{background:#b8e7f7 url(../images/50.png)0 0 no-repeat;}
.content{background:#f0f0f0;}
.head ul li{
	width:120px;
	height:34px;
	font-size:18px;
	text-align:center;
	/*border:1px solid;*/
	margin-top:26px;
	box-sizing:border-box;
	float:right;
	background:#3cb0eb;
	
	}
.head ul span{
	width:200px;
	height:50px;
	color:rgba(255,255,255,1);
	font-size:28px;
	text-align:center;
	padding-top:10px;
	display:inline-block;
	/*border:1px solid;*/
	background:#3cb0eb;
	position:absolute;
	}
.head .img{
	width:50px;
	height:60px;
	/*border:1px solid;*/
	float:right;
	background:url(../images/42.png);
	position:relative;
	left:50px;
	top:-10px;}
.head ul li a{color:rgba(255,255,255,1);
      }
.head ul li:hover{background:#39f;}
/*中部banner*/
.bannerMov{
	width:1170px;
	height:310.1px;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .bannermov_items{
	width:230px;
	height:310.1px;
	box-sizing:border-box;
	background:#FFF;
	/*border:1px solid;*/
	float:left;}
.content .banner_img{
	width:938px;
	height:310.1px;
	/*border:1px solid;*/
	overflow:hidden;
	text-align:center;
	box-sizing:border-box;
	float:right;}
.content .bannermov_items h4>a{
	color:#e5004f;
	font-size:14px;
	display:inline-table;
	/*border:1px solid;*/
	float:left;
	box-sizing:border-box;
	padding-left:5px;}
.content .bannerMov .banner_bd_top{
	width:217px;
	height:106px;
	padding-left:10px;
	float:left;
	box-sizing:border-box;
	/*border:1px solid;*/}
.content .bannermov_items a{
    display: inline-block;
	color:rgba(51,51,51,1);
    margin: 7px 10px 0 0;
    white-space: nowrap;}
.content .bannermov_items a:hover{color: #e5004f;}
/*-------------------------------------------------*/
.content .clearfix{height:253px;
                   width:1167px;
				   /*border:1px solid;*/
				   box-sizing:border-box;
				   margin-top:10px;
				   	background:#f0f0f0;}
.content .sale_pb{
	width:950px;
	height:44px;
	float:left;
	/*border:1px solid;*/
	color:#e5004f;
	display:inline-block;
	font-size: 18px;
	padding-left:5px;
	box-sizing:border-box;}
.content .l_clearfix{
	width:950px;
	height:208px;
	/*border:1px solid;*/
	float:left;
	box-sizing:border-box;}
.content .l_clearfix .inner{
	width:230px;
	height:206px;
	/*border:1px solid;*/
	float:left;
	margin-left:5px;
		background:rgba(255,255,255,1);
	box-sizing:border-box;}
.content .l_clearfix .inner .inner_img{
    width:227px;
	height:170px;
	/*border:1px solid;*/
	max-height: 171px;
	box-sizing:border-box;
	overflow:hidden;
	}
.content .l_clearfix .inner  .line_info{
	width:227px;
	height:34px;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .l_clearfix .inner  .line_info>p:nth-child(1){
    width:136px;
	height:34px;
	float:left;
	border-right:1px #CCCCCC solid;
	box-sizing:border-box;
		}
	.content .l_clearfix .inner  .line_info>p:nth-child(2){
    width:75px;
	height:21px;
	color:#e5004f;
	float:right;
	font-size:16px;
	font-weight:bold;
	/*border:1px solid;*/
	box-sizing:border-box;}
	/*------------------------*/
.content .side_r_pd{
	width:210px;
	height:44px;
	/*border:1px solid;*/
	float:right;
	box-sizing:border-box;}
.content .side_r_pd>em{
	color:#e5004f;
	font-size:18px;
	float:left;}
.content .side_r_pd>a{
	    margin-top: 8px;
		    color: #666;
			float:right;}
/*---------------------------*/
.content .l_fix_img{
	width:210px;
	height:208px;
	/*border:1px solid;*/
	float:right;
	box-sizing:border-box;}
.content .l_fix_img .fix_img{
	width:210px;
	height:170px;
	/*border:1px solid;*/
	overflow:hidden;
	box-sizing:border-box;
	}
.content .l_fix_img .img_info
{	width:207px;
	height:34px;
	/*border:1px solid;*/
	background:rgba(255,255,255,1);
	box-sizing:border-box;}
.content .l_fix_img  .img_info>p:nth-child(1){
    width:130px;
	height:34px;
	float:left;
	border-right:1px #CCCCCC solid;
	box-sizing:border-box;
		}
.content .l_fix_img .img_info>p:nth-child(2){
    width:68px;
	height:21px;
	color:#e5004f;
	float:right;
	font-size:16px;
	font-weight:bold;
	/*border:1px solid;*/
	box-sizing:border-box;}
/*----------------------------*/
.content .box{
    width:1170px;
	height:90px;
	/*border:1px solid;*/
	margin-top:10px;
	overflow:hidden;
	box-sizing:border-box;
	}
/*--------------------------*/
.content .clearfix_w{
	width:1168px;
	height:675px;
	/*border:1px solid;*/
	margin-top:10px;
	overflow:hidden;
	box-sizing:border-box;
	}
.content .clearfix_w .left{
	width:930px;
	height:672px;
	/*border:1px solid;*/
	float:left;
	overflow:hidden;
	box-sizing:border-box;

	}
.content .clearfix_w .left .main_box_pd{
	width:928px;
	height:24px;
	border-bottom:1px #0099d9 solid;
	float:left;
	padding-top:4px;
	color:#0099d9;
	line-height: 1;
	font-size:18px;
	padding-left: 10px;
	box-sizing:border-box;
	
	}
.content .clearfix_w .left .main_box_pd>label{
	float:right;
    color:#999;
	font-size:12px;
}
.content .clearfix_w .left .main_box_pd>label>a{
	color:#333;	
}
.content .clearfix_w .left .main_box_pd>label>a:hover{
	color:#e5004f;	
}


.content .clearfix_w .left .cont_tc{
	width:153px;
	height:45px;
	/*border:1px solid;*/
	text-align:center;
	float:left;
	border-bottom: 1px solid #dcdcdc;
    line-height: 43px;
	box-sizing:border-box;
	}
.content .clearfix_w .line_pic{
	width:305px;
	height:320.5px;
	/*border:1px solid;*/
	float:left;
	box-sizing:border-box;}
.content .clearfix_w .line_pic .line_pic_img{
	width:303px;
	height:222px;
	overflow:hidden;
	/*border:1px solid;*/
	float:left;
	box-sizing:border-box;}

.content .clearfix_w  .line_hd{
	width:303px;
	height:35px;
	/*border:1px solid;*/
	float:left;
	color:rgba(0,0,0,1);
	box-sizing:border-box;}
.content .clearfix_w  .line_hd>a{
 color:rgba(0,0,0,1);
 font-weight:700;
 }
.content .clearfix_w  .line_hd>a:hover{color: #e5004f;}
.content .clearfix_w .mr{
	width:303px;
	height:60px;
	float:left;
	padding-top:2px;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .clearfix_w .mr>p:nth-child(1){
	color:#666;
	}
.content .clearfix_w .mr>p:nth-child(2) a{color:#333;}
.content .clearfix_w .mr>p:nth-child(2) a:hover{
	color:#e5004f;
	}
.content .clearfix_w .mr>p:nth-child(3){
	color:#e5004f;
	float:right;
	padding-right:15px;
	font-size:18px;
	font-weight:bold;}
.content .clearfix_w .line_list{
	width:468px;
	height:642px;
	float:right;
	/*border:1px solid;*/
	box-sizing:border-box;}
.content .clearfix_w .line_list>ul{
    width:468px;
	height:200px;
	float:right;
	/*border:1px solid;*/
	box-sizing:border-box;	
	}
.content .clearfix_w .left .cont_tc:hover{
	background:rgba(255,255,255,1);}

.content .clearfix_w .left .main_tab{
	width:775px;
	height:646px;
	/*border:1px solid;*/
	float:right;
	background:rgba(255,255,255,1);
	box-sizing:border-box;
	}
.content .clearfix_w .line_list>ul>li{
	width:233px;
	height:200px;
	/*border:1px solid;*/
	float:left;
	box-sizing:border-box;	
	}	
.content .clearfix_w .line_list>ul:nth-child(1){
	margin-bottom:10px;
	margin-top:0px;
}
.content .clearfix_w .line_list>ul:nth-child(2){
	margin-top:10px;
	margin-bottom:15px;
}
.content .clearfix_w .line_list>ul{
	margin-top:5px;
}
.content .clearfix_w .line_list .line_pic_li{
	width:233px;
	height:165px;
	/*border:1px solid;*/
	float:left;
	overflow:hidden;
	box-sizing:border-box;	
	}
.content .clearfix_w .line_list .line_bottom{
	width:233px;
	height:32px;
	/*border:1px solid;*/
	float:left;
	box-sizing:border-box;	
	}
.content .clearfix_w .line_list .line_bottom a{
	color:#333;
	line-height:30px;
	padding-left:10px;
	font-size:12px;
	vertical-align: bottom;
	}	

.content .clearfix_w .line_list .line_bottom a:hover{
	color:#ef858c;
	}	
.content .clearfix_w .line_list  span{
	float:right;
	font-size:18px;
	padding-right:10px;
	color:#e5004f;
	font-weight:700;
	display:inline-block;}
	
.content .clearfix_w .right{
	width:230px;
	height:670px;
	/*border:1px solid;*/
    border-top: 2px solid #e5004f;
	float:right;
	overflow:hidden;
	box-sizing:border-box;

	}
.content .clearfix_w .right>img{
	margin-bottom:10px;
}





















