*{margin: 0;padding: 0;}
	html,body{height: 100%;}
	body{background: linear-gradient(to bottom, #131313 0%,#02101c 100%);}
	.canvas-box{position: fixed;left: 0;top: 0;z-index: -1;}
	.box{position: absolute;z-index: 10;color:#fff;font-family: Arial;left: 50%;top:50%;transform: translate(-50%,-50%);text-align: center;}
	a:link,a:hover,a:visited,a:active{text-decoration: none;color: inherit;display: block;}
	a{margin: 30px 0;font-size: 20px;}

#fly1{width:500px;height:400px;position:absolute;top:-50px;left:420px;border:0px solid red;}
#logo{width:183px;height:133px;position:absolute;top:280px;left:-20px;border:0px solid red;}

#nav{width:196px;height:450px;position:relative;
top:50px;border:0px solid blue;}
#shouye{width:192px;height:50px;border:0px solid blue;position:relative;line-height:50px;t`ext-align:center;}
#y{width:192px;height:50px;top:20px;border:0px solid red;position:relative;line-height:50px;t`ext-align:center;}
#e{width:192px;height:50px;top:40px;border:0px solid red;position:relative;line-height:50px;t`ext-align:center;}
#s{width:192px;height:50px;top:60px;border:0px solid red;position:relative;line-height:50px;t`ext-align:center;}
#ss{width:192px;height:50px;top:80px;border:0px solid red;position:relative;line-height:50px;t`ext-align:center;}
#w{width:192px;height:50px;top:100px;border:0px solid red;position:relative;line-height:50px;t`ext-align:center;}

.guanbi{font-size:56px;width:45px;height:46px;border:0px solid white;line-height:46px;float:left;display:block;
}


.neihe{font-size:26px;width:57px;height:46px;border:0px solid white;line-height:46px;float:left;padding-left:0px;display:block;}

.dakai{font-size:56px;width:45px;height:46px;border:0px solid green;line-height:46px;float:left;display:none;}


#nav a{color:white;margin:0;border:0px solid white;}

#nav a:hover{color:blue;font-size:16px;}


