/*头部*/
body{background:#b8e7f7 url(../images/50.png)0 0 no-repeat;}
.content{
	background:rgba(255,255,255,0);
    height:1080px;}
.head ul li{
	width:120px;
	height:34px;
	font-size:18px;
	text-align:center;
	/*border:1px solid;*/
	margin-top:26px;
	box-sizing:border-box;
	float:right;
	background:#3cb0eb;
	
	}
.head ul span{
	width:200px;
	height:50px;
	color:rgba(255,255,255,1);
	font-size:28px;
	text-align:center;
	padding-top:10px;
	display:inline-block;
	/*border:1px solid;*/
	background:#3cb0eb;
	position:absolute;
	}
.head .img{
	width:50px;
	height:60px;
	/*border:1px solid;*/
	float:right;
	background:url(../images/42.png);
	position:relative;
	left:50px;
	top:-10px;}
.head ul li a{color:rgba(255,255,255,1);
      }
.head ul li:hover{background:#39f;}
/*----------------------------------*/
/*中部*/
.banner .figure{
    width: 100%;
    height: 360px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.banner .figure>img{
    height: 100%;
    margin: 0 -100%;
}
.banner .figure>ol{
    width: 150px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 10px;
}
.banner .figure>ol>li{
    width: 8px;
    height: 8px;
    background:rgba(51,153,255,1);
    float: left;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 1s;
}
.banner .figure>ol>li:hover{
    border: 2px solid rgb(255,51,0);
    background: transparent;
    transform: scale(1.2,1.2);
}
/*--------------------------------------------*/
.mod{
		width:100%;
	height:693px;
	/*border:1px solid;*/
	box-sizing:border-box;
	margin-top:20px;
	}
.mod-title{
	width:100%;
	height: 30px;
    line-height: 30px;
	font-size:24px;
    color:rgba(255,0,102,1);
	font-weight:400;
	/*border:1px solid;*/
	box-sizing:border-box;}
.clearfix{
	width:100%;
	height:641px;
	/*border:1px solid;*/
	box-sizing:border-box;
	}
.pro{    margin-top: 10px;
	}
.pro li{
	width: 283px;
    height: 304px;
    background: #fff;
    border: 1px solid #f4f4f4;
	float: left;
    margin: 0 5px 20px 0;
	}
.pro-img{
	    margin: -1px 0 0 -1px;
		position: relative;
        width: 285px;
         height: 190px;
		 overflow:hidden;
	}	
.pro-tit{
	margin: 8px 0;
	padding: 0 10px;
    font-size: 14px;
    color: #333;
    height: 35px;
    line-height: 18px;
    overflow: hidden;
    text-align: justify;}
.pag{
	color: #390;
	font-style: normal;
    font-weight: 400;
	font-size: 14px;
    height: 35px;
    line-height: 18px;
    overflow: hidden;
    text-align: justify;}
.line{
	color: #390;
    position: relative;
    top: -1px;
    padding: 0 3px;
    color: #bbb;}
.pro-info{
	margin-top: 0;
    border-top: 1px dotted #ddd;
	padding-top: 6px;
    height:40px;
    color: #fff;
	padding-left: 10px;
    line-height: 24px;
	margin-top:20px;
	background:rgba(204,0,51,0.7);
	}
.pro-info span:nth-child(1){
	height: 36px;
    font-size: 24px;
    font-weight: bold;
	line-height: 33px;
	box-sizing:border-box;
}
.pro-info span:nth-child(2){
	display: block;
    width: 100px;
    height: 46px;
    margin-top: -6px;
    float: right;
	padding-top:5px;
	box-sizing:border-box;
    background: #f80;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	